.footer {
  background-color: #191919;
  color: #c84b31;
  padding: 20px 0;
  font-size: 16px;
}

.footer p {
  color: #ffffff;
}

.footer p:hover {
  color: #ecdbba;
}

.footer-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
}

.sb-footer-links {
  flex: 1;
  min-width: 160px;
  margin-bottom: 20px;
}

.sb-footer-links h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.sb-footer-links a {
  text-decoration: none;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.sb-footer-links:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .footer-sec {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .sb-footer-links {
    width: 90%;
  }
}
